.DS_Store
env
notes.txt
github_oauth2.py
testing_notes.txt
test_parser.py
test_url_detector.py
oauth_testing_controller.py
feature_notes.txt
plan_of_action.txt
templates/test.txt
config.py
*.pyc
*.db
.*.swp