.DS_Store
env
notes.txt
github_oauth2.py
testing_notes.txt
test_parser.py
extension/myscript2.js
extension/simpleHashFunction.js
test_url_detector.py
oauth_testing_controller.py
feature_notes.txt
plan_of_action.txt
templates/test.txt
*.pyc
*.db
.*.swp