.comment-box{
    margin-left: -3%;
}

.whole-thing{
    background-color: #f7f7f7;
    margin: 20px 0 0 0;
}

p{
    white-space: pre-wrap;
}

.landing-page{
    margin-top: 50px;
    padding: 20px;
}

.delete-comment-form{
    display: inline;
}

.delete-comment-form .btn{
    color: #777;
}

.delete-comment-form .glyphicon{
    right: 3px;
    top: 0px;
}