#about-button{
    cursor: pointer;
}

body.landing-page{
    padding-top: 70px;
}

.comment-box{
    margin-left: -3%;
}

.delete-comment-form{
    display: inline;
}

.delete-comment-form .btn{
    color: #777;
}

.delete-comment-form .glyphicon{
    right: 3px;
    top: 0px;
}

.no-bullet{
    list-style-type: none;
}

p{
    white-space: pre-wrap;
}

.right-of-sidebar{
    margin-left: 300px;
    margin-top: 30px;
    padding-right: 50px;
}

.selected{
    background-color: #ebebeb;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:300px;
    height:100%;
    color:#000000;
    background:#101010;
    font-weight:200;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    z-index:1030;
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000
}

.sidebar a{
    color:#000
}

.sidebar-text{
    color:#999999;
    font-size: 18px;
    line-height: 60px;
    margin: 10px;
    font-weight: 400;
}

.web-text{
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;

}
.web-title{
    color: #999999;
    font-size: 40px;
    margin-top: 20px;
}

.web-subtitle{
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
}

.website-button{
    cursor: pointer;
}

.whole-thing{
    background-color: #f7f7f7;
    margin: 20px 0 0 0;
}