<html>
    <head>
        <title>Chrome documentation extension</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/pygments-highlight.css" rel="stylesheet">
        <link href="/static/css/pygments-colorful.css" rel="stylesheet">
    </head>

    <body>
        <div class="container whole-thing">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>
        <script type="text/javascript" src="/static/js/iframeResizer.contentWindow.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </body>
</html>