<!DOCTYPE html>
<html>
    <head>
        <title>Platipy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
        <link href="/static/css/pygments-highlight.css" rel="stylesheet">
        <link href="/static/css/pygments-colorful.css" rel="stylesheet">
    </head>

    <body>
        <div class="container whole-thing">

            {# ---- favorites section ---- #}
            {% if github_name %}
            <div>
                <div style="float: left">
                    {% if section %}
                        {{section.num_favorites}}
                    {% else %}
                        0
                    {% endif %}
                </div>
                {% if favorite %}
                    <form method="POST" action="/favorite">
                        <input type="hidden" name="html_section" value="{{html_section}}"></input>
                        <input type="hidden" name="favorited_status" value="true"></input>
                        <button 
                            type="submit" 
                            class="btn btn-default btn-xs btn-link" 
                            id="yellow_star" 
                            style="float:left">
                            <span class="glyphicon glyphicon-star"></span>
                        </button> 
                    </form>
                {% else %}
                    <form method="POST" action="/favorite">
                        <input type="hidden" name="html_section" value="{{html_section}}"></input>
                        <input type="hidden" name="favorited_status" value="false"></input>
                        <button 
                            type="submit" 
                            class="btn btn-default btn-xs btn-link" 
                            id="white_star" 
                            style="float: left">
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </button>
                    </form>
                {% endif %}
            </div>
            <br />
            {% else %}
            <br />
            {% endif %}

            {# ---- comments section ---- #}

                    {% if github_name == None %}
                        <form role="form">
                            <fieldset disabled>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" cols="300"></textarea>
                                </div>
                            </fieldset>
                        </form>
                        <form 
                            method="GET"
                            action="/authenticate"
                            target="_top">
                            <input type="hidden" name="html_section" value="{{html_section}}"></input>
                            <button type="submit" class="btn btn-default btn-sm">
                                <img src="/static/images/octocat.png"></img>
                                Sign in to post
                            </button>
                        </form>

                    {% else %}
                        <a href="/log_out?html_section={{html_section|urlencode}}" style="float:right">Log out</a>
                        <span class="text-muted" style="float:right"> 
                            Logged in to github as {{github_name}}&nbsp&nbsp</span>
                        <form method="POST" style="padding-left: 10px;" role="form">
                            <div class="form-group">
                                <textarea 
                                    name="comment" 
                                    class="form-control" 
                                    id="text_area" 
                                    rows="3" cols="300"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    Post
                                </button>
                                <button 
                                    class="btn btn-default btn-xs" 
                                    id="insert_code" 
                                    data-text-area-id="text_area"
                                    type="button"
                                    style="float:right">
                                    Insert Code
                                </button>
                            </div>
                        </form>
                    
                    {% endif %}

            <div>
                {% for comment in section.comment|reverse %}
                    <div class="row">
                        <div class="col-xs-1">
                            <form method="POST" action="/vote">
                                <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                                <input type="hidden" name="html_section" value="{{html_section}}"/>
                                <button
                                    type="submit"
                                    class="btn btn-default btn-xs btn-block btn-link"
                                    name="vote"
                                    value="up"
                                    id="upVote">
                                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                                </button>
                                <div class="text-center">{{comment.sum_ratings}}</div>
                                <button 
                                    type="submit" 
                                    class="btn btn-default btn-xs btn-block btn-link" 
                                    name="vote" 
                                    value="down"
                                    id="downVote">
                                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                </button>
                            </form>
                        </div>
                        <div class="col-xs-11 comment-box">
                            <strong class="text-muted">
                                {{comment.created_at|datefilter}} by 
                                <a href="http://github.com/{{comment.user.github_name}}" target="_blank">
                                    {{comment.user.github_name}}
                                </a>
                                {% if github_name == comment.user.github_name %}
                                <form method="POST" action="/delete_comment" class="delete-comment-form">
                                    <input type="hidden" name="html_section" value="{{html_section}}"/>
                                    <input type="hidden" name="comment_id" value="{{comment.id}}"/>
                                    <button type="submit" class="btn btn-default btn-xs btn-link">
                                        <span class="glyphicon glyphicon-remove"></span> 
                                    </button>
                                </form>
                                {% endif %}
                            </strong>
                            {% if "[code]" in comment.comment %}
                                <p>{{comment.comment|extract_code|safe}}</p>
                            {% else %}
                                <p>{{comment.comment|detect_url_and_make_link|safe}}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.autosize.min.js"></script>
        <script type="text/javascript" src="/static/js/iframeResizer.contentWindow.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </body>
</html>