{% extends 'base.html' %}
{% block body %}
    <div>
        {% if section %}
            {{section.num_favorites}}
        {% else %}
            0
        {% endif %}
        {% if favorite %}
            <form method="POST" action="/favorite">
                <input type="hidden" name="html_section" value="{{html_section}}"> </input>
                <input type="hidden" name="favorited_status" value="true"></input>
                <input type="image" src="/static/images/yellow_star.png" id="yellow_star" style="float: left">  
            </form>
        {% else %}
            <form method="POST" action="/favorite">
                <input type="hidden" name="html_section" value="{{html_section}}"> </input>
                <input type="hidden" name="favorited_status" value="false"></input>
                <input type="image" src="/static/images/white_star.png" id="white_star" style="float: left">  
            </form>
        {% endif %}


        <form method="POST" style="padding-left: 10px;">
            <textarea name="comment" class="form-control" rows="10" cols="300"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        </br>
        </br>
        </br>
        </br>
        </br>
        {% for comment in section.comment %}
            <form method="POST" action="/vote">
                <input type="hidden" name="comment_id" value="{{comment.id}}"></input>
                <input type="hidden" name="html_section" value="{{html_section}}"> </input>
                <button type="submit" class-"btn btn-default btn-sm" name="vote" value="up">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                </button>
                <button type="submit" class-"btn btn-default btn-sm" name="vote" value="down">
                    <span class="glyphicon glyphicon-circle-arrow-down"></span>
                </button>
            </form>
            {{comment.rating}}
            <p>{{comment.created_at|datefilter}} by userid {{comment.user_id}}: {{comment.comment|codefilter|safe}}</p>
        {% endfor %}
    </div>

{% endblock %}