<!DOCTYPE html>
<html>
    <head>
        <title>Chrome documentation extension</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>

    <body style="margin-left: 50px">
            {% if websites_dict %}
                <h2>Favorites for {{github_name}}:</h2>

                {% for key, value in websites_dict.iteritems() %}
                <div class="row">
                    <p>Website: {{key}}</p>

                        {% for key2, value2 in value.iteritems() %}
                        <ul>Page Title: {{key2}}</br></br>

                            {% for key3, value3 in value2.iteritems() %}
                            <ul>Section: {{key3}}</br></br>
                                {% for item in value3 %}
                                <tr>
                                    <li><a href="{{item[1]}}" target="_blank">Segment: {{item[0]}}</a></li>
                                </tr>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                </div>
                {% endfor %}

            {% else %}
                <p> You don't have any favorites yet. </p>
            {% endif %}
    </body>
</html>
