<!DOCTYPE html>
<html>
    <head>
        <title>Chrome documentation extension</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>

    <body style="margin-left: 50px">
        <div class="sidebar" role="navigation">
            <div class="list-group">
                <span class="sidebar-text">PLATIPY</span>
                <a class="list-group-item" id="about-button">About</a>
                <span class="sidebar-text">
                    Favorites for {{github_name}}</span>
                {% for website, pageDictionary in websites_dict|dictsort %}
                <a class="website-button list-group-item" 
                    id="website-link-{{loop.index}}">{{website}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="right-of-sidebar container">
            <div class="about-row row" id="about">
                <h3>About</h3>
                <p>A chrome extension that allows for favoriting, commenting, and adding example code inline to documentation hosted by Read the Docs.</p>
                <p>This extension is currently available for ALL documentation hosted by Read the Docs.</p>
                <p>Written in Python, Javascript, jQuery, HTML and CSS</p>
                <p>Enables users to log into github via Oauth2</p>
                <p>Uses the <a href="http://pygments.org/" target="_blank">Pygments</a> python library for syntax highlighting</p>
            </div>

            <div class="about-row row" id="install">
                <h3>Install</h3>
                <ol>
                    <li>Download this <a href="/static/platipy_extension.zip">zip file</a></li>
                    <li>Unzip the file</li>
                    <li>Go to chrome://extensions</li>
                    <li>Check "developer mode" in the upper right hand corner</li>
                    <li>Click "Load unpacked extension" and browse to select the folder</li>
                </ol>
            </div>

            <div class="about-row row" id="contact">
                <h3>Contact</h3>
                <ul>
                    <li>Read the code for this exetension on <a href="http://www.github.com/urbackmk/platipy" target="_blank">github</a></li>
                    <li>Email me at <a href="mailto:meghan@meghanurback.com" target="_blank">meghan@meghanurback.com</a></li>
                </ul>
            </div>
            {% if websites_dict %}
                {% for website, pageDictionary in websites_dict|dictsort %}
                <div id="website-{{loop.index}}" class="favorites-row row">
                    {% for pageTitle, sectionDictionary in pageDictionary|dictsort %}
<!--                     <div class="favorites-row row" id="pageTitle-{{loop.index}}"> -->
                        <span class="glyphicon glyphicon-file"></span>  
                        <h4 style="display:inline">{{pageTitle}}</h4></br></br>
                    <!-- </div> -->
                    {% for sectionTitle, segmentList in sectionDictionary|dictsort %}
                        <ul class="no-bullet">
                            <li><h5>{{sectionTitle}}</h5></br>
                            {% for tuple in segmentList|sort %}
                                <p><a class="text-muted" href="{{tuple[1]}}" target="_blank">{{tuple[0]|safe}}</a></p>
                            {% endfor %}
                            </li>
                        </ul>
                    {% endfor %}
                    {% endfor %}
                </div>
                {% endfor %}

            {% else %}
                <p> You don't have any favorites yet. </p>
            {% endif %}
        </div>
        <script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/static/js/custom.js"></script>
    </body>
</html>

<!-- {website: {page title:{section title:[(segment text, segment path)]}}}

options: 

load everything in current handler
    - display proper section on click
    - link to nothing with a click handler that hides and shows

make handlers for each website
    - display proper links with display:none / jquery hide method
    - websites in sidebar are links to proper handler -->